/* Style the list (remove margins and bullets, etc) */
.ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 40px 0 0 0;
}

/* Style the list items */
.ul li {
    width: 100px;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: inline-block;
    margin: 0;
    padding: 5px;
    text-align: center;
}
.ul li:not(.page) {
    cursor: pointer;
}

/* Add a light grey background color on hover */
.ul li:not(.page):hover {
    background-color: #eee;
}
